html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow:hidden;
  z-index: 0;
}

body {
  background: #252524bd; /* match your cork color */
}

.page {
  width: 100%;
  max-height: 100vh;
  z-index: 0;
}

.board {
  position: relative;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3vh;
  z-index: 0;

  
}

.board-image {
  display: block;
  width: 90vw;
  height: 95vh;
}


.cork-image {
    position: absolute;
  display: block;
  width: 86vw;
  height: 84vh;
  padding-top: 5vh;
  padding-left: 2vw;
}

.letters{
  position: absolute;
  top: 20vh;
  left: 17vw;
  margin:0 auto;
  width: 20vw;
  height: auto;
  rotate: -10deg;
  z-index: 2;
}

.goals-images {
  border: 2px solid #000;
  position: absolute;
  top: 10vh;
  left: 2vw;
  width: 80vw;
  height: 18vh;
  z-index: 1;
}
.UTSA{
  position: absolute;
  top: 0vh;
  left: 1vw;
  width: 18vw;
  height: auto;
  z-index: 2;
  rotate: -5deg;
}
.goalNote{
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 15vw;
  height: auto;
  z-index: 2;
  rotate: 2deg;
}
.DS1{
  position: absolute;
  top: 0vh;
  left: 25vw;
  width: 18vw;
  height: auto;
  z-index: 2;
  
}
.DS2{
  position: absolute;
  top: 0vh;
  left: 45vw;
  width: 18vw;
  height: auto;
  z-index: 1;
  
}


.family-images {
  border: 2px solid #000;
  position: absolute;
  top: 30vh;
  left: 1%;
  width: 40vw;
  height: 63vh;
  z-index: 1;
}
.zoo{
  position: absolute;
  top: 34vh;
  left: 5vw;
  width: 10vw;
  height: auto;
  z-index: 2;
}
.son{
  position: absolute;
  top: 18vh;
  left: 10vw;
  width: 15vw;
  height: auto;
  z-index: 1;
}
.bedtime{
  position: absolute;
  top: 1vh;
  left: 2vw;
  width: 10vw;
  height: 40vh;
  z-index: 1;
  rotate: -2deg;
}